<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="snc.server.ide.dao.HoutaiCommodityDao">
    <insert id="insertCommodity" parameterType="snc.server.ide.pojo.HoutaiCommodity">
        insert into commodity (c_sid,c_name,c_price,marketprice,c_sold,c_image,c_type,c_brand,c_spuid,c_hot)
        values(#{c_sid},#{c_name},#{c_price},#{marketprice},#{c_sold},#{c_image},#{c_type},#{c_brand},#{c_spuid},#{c_hot});
        insert into type_1 (c_sid,c_mod,c_size,c_details,c_stock)values (#{c_sid,jdbcType=VARCHAR},#{c_mod,jdbcType=VARCHAR},#{c_size,jdbcType=VARCHAR},#{c_details,jdbcType=VARCHAR},#{c_stock,jdbcType=INTEGER});


</insert>
</mapper>
